.project-card-wrapper{
    /* background: #94B27D;*/
    width: 343px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.project-card-wrapper:hover{
    opacity: 50%;
    cursor: pointer;
}

.project-card-image{
    max-width: 343px;
}

.project-card-title{
    font-weight: 600;
    font-size: 20px;
    float: left;
    align-self: start;
    padding: 4px;
}

.project-card-description{
    margin-top: 8px;
    font-size: 16px;
    float: left;
    align-self: start;
    text-align: start;
    padding: 4px;
}