.project2-list-item{
    display: flex;

    height: 3rem;
    font-size: 24px;
    & img{
        margin-left: 1rem;
        margin-bottom: 1rem;

    }
}

.project2-list-item:hover{
    color: #3cccbd;
    cursor: pointer;
    & img{
        animation: myAnim 1.5s ease 0s 1 normal forwards;
    }
}

.projects2-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    text-align: start;
    margin: 1rem;
}

.projects2-description{
    margin-bottom: 1rem;
}

@keyframes myAnim {
    0%,
    100% {
        transform: translateY(0) rotate(0);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateY(-5px) rotate(6deg);
    }

    30% {
        transform: translateY(2.5px) rotate(-6deg);
    }

    45% {
        transform: translateY(-2.5px) rotate(3.6deg);
    }

    60% {
        transform: translateY(1.5px) rotate(-2.4deg);
    }

    75% {
        transform: translateY(-1px) rotate(1.2deg);
    }
}