.project-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.project-wrapper{
    & ProjectNavigation {
        flex-basis: 33%;
    }
}

.project-content{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: start;
    max-width: 90%;
    & img{
        max-width: 600px;
        max-height: 600px;
    }
}

.project-product-images{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
@media (max-width: 720px) {
    .project-product-images{
        flex-direction: column;
    }
}